@font-face { font-family: "MonumentExtended-Black"; 
src: url('./assets/MonumentExtended-Black.woff'); } 

@font-face { font-family: "RightGrotesk-SpatialBlack"; 
    src: url('./assets/RightGrotesk-SpatialBlack.woff'); }


html {
  font-size: 14px;
  /*font-family: 'Arial', sans-serif;*/
max-width: 1400px;
min-width: 1200px;
  background-color: white;
  box-sizing: border-box;
  margin-left: 1rem;
}

*, *:before, *:after {
box-sizing: inherit;
}



h1 {
    font-family: 'MonumentExtended-Black', sans-serif;
    /* letter-spacing: 0.1px; */
    font-size: 4rem;
    margin-bottom: 0;
    color: 	#4B0082;
}

h3 {
    font-family: "Zen Kaku Gothic New";
    display: flex;
    width: 90%;
    font-size: 1.8em;
    color:  #001a00;
    font-weight:400;
}

body {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    padding: 1rem 2rem;
    letter-spacing: -0.011em;
    font-size: 10px;
}

.wrapper {

    /*border: 1px solid black;*/
    /*overflow-x: scroll;*/
    /* position: relative; */
    /*set position for the tooltip*/
}

.intro {
    display: inline-block;
    position: relative;
}

svg {
    overflow: visible;
}

.score-dot {
   color: grey;
   mix-blend-mode: multiply; 
}

.tooltip {
    opacity: 0;
    position: absolute;
    top: 12px;
    left: 0;
    padding: 0.6em 1em;
    background: #fff;
    text-align: center;
    border: 1px solid #ddd;
    z-index: 10;
    transition: all 0.2s ease-out;
    pointer-events: none;
    font-family: "Zen Kaku Gothic New";
}

.tooltip:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid #ddd;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: translate(-50%, 50%) rotate(45deg);
    transform-origin: center center;
    z-index: 10;
}

.tooltip-similar {
    margin-bottom: 0.3em;
    margin-right: 0.5em;
    font-size: 1.5em;
    font-weight: 500;
}

.tooltip-score {
    margin-bottom: 0.3em;
    font-size: 1.2em;
    
}

.tooltip-similar-text {
    margin-bottom: 0.3em;
    font-size: 1.2em;
    
}

.tooltip-similar-theme {
    margin-bottom: 0.3em;
    font-size: 1.2em;
    
}

#metric {
    margin-left: 37rem;
    transform: translateY(14px);
    font-family: "MonumentExtended-Black";
    font-size: 1rem;
    text-align: center;
    padding-top:3px;
    height: 2rem;
    color: white;
    background-color: #006400;
    border-radius: 4px;
    z-index: 9999;

}
.call-to-action {
    /* text-decoration: underline; */
}

footer {
    font-family: "MonumentExtended-Black";
    font-size: 1em;
    color: #4B0082;
}

/*.legendtip {*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    top: -12px;*/
/*    left: 0;*/
/*    padding: 0.6em 1em;*/
/*    background: #fff;*/
/*    text-align: center;*/
/*    border: 1px solid #ddd;*/
/*    z-index: 10;*/
/*    transition: all 0.2s ease-out;*/
/*    pointer-events: none;*/
/*}*/

.domain {
    stroke: none;
}

.topic-y-axis .tick line {
    opacity: 0;
}

.promise {
    background: rgb(0, 100, 0, 0.3);
font-weight: 500;
}

.promise-label {
    text-align: left;
}

.happy {
    background: rgba(255, 255, 255,0.8);
    backdrop-filter: blur(2px);
    /* backdrop-filter: opacity(10%); */
}
  
				